*.swp
coverage
node_modules
browser/tests.js
docs/api

CONTRIBUTING.html
LICENSE.html
README.html
examples.html
npm-debug.log

apiref
bower_components
report
.DS_Store


veilcore.js
veilcore.min.js
veilcore.js.sig
veilcore.min.js.sig
tests.js
